body {
    background-color: #222;
    margin: 30px;
}

p, h1, h2 {
    color: #ccc;
    font-family: Arial;
}

p {
    font-size: 16px;
}

ul {
    list-style-type: none;
}

li a {
    color: white;
}

form {
    color: white;
}

a {
    color: aqua;
}

.fuente_informacion {
    font-size: 12px;
    color: greenyellow;
    text-decoration: none;
}

#explicacion_IA::first-letter {
    font-size: 200%;
}