body {
    background-color: #222;
    margin: 30px;
}

p, h1, h2 {
    color: #ccc;
    font-family: Arial;
}

p {
    font-size: 16px;
}

ul {
    list-style-type: none;
}

li a {
    color: white;
}

form {
    color: white;
}

a {
    color: aqua;
}

.fuente_informacion {
    font-size: 12px;
    color: green;
    text-decoration: underline;
}
.fuente_informacion:hover {
    color: darkorange;
    text-decoration: overline;
}
.fuente_informacion:visited {
    color: lightpink;
}

#explicacion_IA::first-letter {
    font-size: 200%;
}